<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>


<div class="category-field">
  <%= form.label :category %>
  <%= form.select :category,
  	if current_user.nil?
  		["admin"]
  	elsif current_user.admin?
  		User.categories.keys 
  	elsif current_user.hr?
  		["staff"]
  	end
  	%>
</div>

