<div class="text-field">
  <%= invite_form.label :email %>
  <%= invite_form.text_field :email, value:@invite.email ,type: 'email', :readonly => true%>
</div>

<div class="password-field">
  <%= invite_form.label :password %>
  <%= invite_form.password_field :password %>
</div>


<div class="category-field">
  <%= invite_form.label :category %>
  <%= invite_form.select :category, ["staff"],{}, {:readonly => true}%>
</div>

