DASHBOARD

<div><%= link_to "Create User", new_user_path%></div>

<div><%= link_to "Create Staff", new_staff_path%></div>

<div><%= link_to "Create Department", new_department_path%></div>

<div><%= link_to "All staffs", staffs_path%></div>

<div><%= link_to "All departments", departments_path%></div>


<div><%= link_to "Settings", settings_path(current_user.category)%></div>