<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= if @invite.nil?
          render partial: '/users/form', object: form 
        else
          render partial: '/users/invite_form', object: form 
        end
      %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <%if !signed_in?%>
      <div class="other-links">
        <%= link_to t(".sign_in"), sign_in_path %>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to "Dashboard", root_path%>